---
layout: default
title: Portfolio
custom_css: "<link href='/css/bootstrap-lightbox.min.css' rel='stylesheet' />"
custom_js:  "<script src='/js/bootstrap-lightbox.min.js'></script>"

---

<div id="portfolio">
	<h1 id="portfolio_title">Portfolio</h1>
	
	<p>Our portfolio consists of a wide range of web-sites, from Japanese Pop-stars, to fashion labels, to design agencies, to charity foundations. See for yourself!</p>
	
	<ol class="portfolio_list">
		{% for folio in site.data.portfolio %}
		
			{% assign lbox_id  = (folio.id | append: '_lightbox') %}
			{% assign csel_id  = (folio.id | append: '_carousel') %}
		  <li>
				<h2>{{ folio.title }}</h2>
				<div class="row-fluid">
					<div class="technologies span2">
						<h4>Technologies</h4>
						<ul>
							{% for tech in folio.technologies %}
							<li>{{ tech }}</li>
							{% endfor %}
						</ul>
					</div>

					<div class="description span8">
						{{ folio.description | markdownify}}
						<a href="{{ folio.url }}">{{ folio.title }}</a>
					</div>

					<div class="images span2">
						{% for img in folio.images %}
						<div class="image media">
							<a href="#{{ lbox_id }}" title="{{ img.title }}" class="thumbnail" data-toggle="#lightbox">
								<img class="media-object" src="{{ img.url }}">
							</a>
						</div>
						{% endfor %}
					</div>

					<div id="{{ lbox_id }}" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="lightbox-content">
							
							<div id="{{ csel_id }}" class="carousel slide" data-ride="carousel">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner">
									{% for img in folio.images %}
							    <div class="item {% if img == folio.images[0] %}active{% endif %}">
										<img src="{{ img.url }}">
							    </div>
									{% endfor %}
							  </div>

							  <!-- Controls -->
							  <a class="left carousel-control" href="#{{ csel_id }}" data-slide="prev">
							    <span class="glyphicon glyphicon-chevron-left"></span>
							  </a>
							  <a class="right carousel-control" href="#{{ csel_id }}" data-slide="next">
							    <span class="glyphicon glyphicon-chevron-right"></span>
							  </a>
							</div>
							
							
						</div>
					</div>

				</div>
			</li>
		{% endfor %}
	</ol>
</div>