---
layout: default
title: Portfolio
custom_css: "<link rel='stylesheet' href='/css/magnific-popup.css'>"
custom_js:  "<script src='/js/jquery.magnific-popup.min.js'></script><script src='/js/main.js'></script>"

---

<div id="portfolio">
	<h1 id="portfolio_title">Portfolio</h1>
	
	<p>Our portfolio consists of a wide range of mobile-apps and web-sites, from Japanese Pop-stars, to sports prediction gaming mobile applications, to fashion labels, to design agencies, to charity foundations. See for yourself!</p>
	
	<ol class="portfolio_list">
		{% for folio in site.data.portfolio %}
		  <li>
				<h2>{{ folio.title }}</h2>
				<div class="row-fluid">
					<div class="images span2">
					{% for img in folio.images %}
						<div class="image media {% if forloop.first %}{% else %}hide{% endif %}">
							<a href="{{ img.url }}" title="{{ img.title }}" class="thumbnail" rel="lightbox[{{ folio.id }}]">
								<img class="media-object" style="background-image:url('{{ img.url }}')">
							</a>
						</div>
					{% endfor %}
					</div>

					<div class="description span8">
						{{ folio.description | markdownify}}
					</div>

					<div class="technologies span2">
						<h4>Technologies</h4>
						<ul>
							{% for tech in folio.technologies %}
							<li>{{ tech }}</li>
							{% endfor %}
						</ul>
					</div>

				</div>
			</li>
		{% endfor %}
	</ol>
</div>
